.header{
    /*background: url(../images/stock.jpg) no-repeat center top / cover;*/
    background: url(../images/stock.jpg) no-repeat center top;
    min-height:100%;
    background-size:cover;
    /*background:#F7F7F7;*/
    /*color:#2E3B47;*/
}

.header-info{
    display: flex;
    align-items: center;
    padding-top: 16px;
    font-size: 16px;
    justify-content: space-between;
}

.menu ul,li{
    padding: 0;
    margin: 0;
}

.header-menu{
    display: flex;
    align-items: center;
    padding-top: 56px;
}

.menu{
    display: flex;
    align-items: center;
    margin:0 auto;
}

.menu li{
    margin-right: 56px; /* задаем расстояние между пунктами меню */
}

.menu li:last-child{
    margin-right: 0px;
}

.menu li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 19.20px;
}

.menu li a:after{
    display: block; /*превращаем его в блочный элемент*/
    content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
    height: 3px; /*задаём высоту линии*/
    width: 0%; /*задаём начальную ширину элемента (линии)*/
    background-color: white; /*цвет фона элемента*/
    transition: width 0.3s ease-in-out;
}

.menu li a:hover:after,
.menu li a:focus:after {
    width: 100%;
}



h1{
    font-size: 57.33px;
    padding-top: 200px;
}

h2{
    font-size: 13.33px;
    margin: 0 0 32px;
}
button{
    width: 215px;
    height: 62px;
    font-size: 19.20px;
    background-color: #191919; /*2E3B47  191919 */
    border: 0;
    display: block;
    border: 2px solid #2ecc71;
    outline: none;
    color: white;
    border-radius: 24px;
    transitin: 0.25s;
    cursor: pointer;
    margin-top:32px;
}
button:hover{
    background: #2ecc71;
}
.home-content{
    padding-bottom: 200px;
}
