*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #F7F7F7;
    background-color: #33495E;
    margin:0;
    color:#F7F7F7;
}

.container{
    width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
}

h3{
    font-size: 33.18px;
    padding-top: 56px;
    text-align:center;
}

hr{
    height:1px;
    width: 24%;
    background-color: #F7F7F7;
    margin-inline-start: auto;
    margin-inline-end: auto;
}