.footer-content{
    padding: 24px 0 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p.footer{
    font-size: 13.33px;
}
.footer{
    background:#F7F7F7;
    color: #33495E;
}