ul.services {
    display:table;
    margin:auto;
    padding-bottom: 24px;
}

ul.services li {
    font-size: 19.20px;
    background: url(../../images/check.svg) no-repeat left 50%;
    padding: 32px 98px;
}



