h3{
    font-size: 33.18px;
    margin-top: 64px;
    text-align:center;

}

hr{
    margin-top: 1px;
    height:1px;
    width: 20%;
    background-color: #F7F7F7;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

ul.services {
    display:table;
    margin:auto;
}

ul.services li {
    background: url(../../images/check.svg) no-repeat left 50%;
    padding: 32px 98px;
}

.pri{
    border: 1px solid rgba(255, 255, 255, 0.16);
    opacity: 10%;
}

